body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(135, 4, 46);
}

.image{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.image img {
	display: inline-block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: brightness(0) invert(1);
}